<div class="container">
    <div class="panel panel-default">
            <div class="panel-heading">
             <div class="searchbox  pull-right">
                <div class="col-md-12">
            <input type="text" ng-model="search" class="form-control search-query" placeholder="Search&hellip;" />
                </div>
            </div>

                <a ng-href="" ng-click="registerModel('lg')" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Add New User</a>

         <div ng-if="UserAcount.accesscontrol ==='barangayaccesscontrol'">
           <h2>Baranggay {{UserAcount.barangay.barangay_name}} user List</h2>
         </div>

         <div ng-if="UserAcount.accesscontrol ==='regionadmin'">
           <h2>Municipality Account List</h2>
         </div>

         <div ng-if="UserAcount.accesscontrol ==='municipalitycontrol'">
           <h2>{{UserAcount.municipality.municipality_name}} Baranggay Account List</h2>
         </div>
        <p ng-if="UserAcount.accesscontrol ==='municipalitycontrol'" ng-show="people === 0 && account_count !== 0">Opps! No record created yet. Login your barangay account to add new records.</p>
        </div>
        <div class="panel-body">
              <br>
              <h3>Personnel</h3>
              <!-- ng-click="show(account._id)" -->
                <table ng-table="tableParams" template-pagination="custom/pager" class="table table-hover">
                      <tr ng-repeat="account in $data | filter:search | orderBy:'prof_firstname'" ng-if="UserAcount._id !== account._id">
                          <td data-title="'Baranggay'" ng-show="UserAcount.accesscontrol === 'municipalitycontrol'">
                              {{account.barangay.barangay_name}}
                          </td>
                          <td data-title="'Municipality'">
                              {{account.municipality.municipality_name}}
                          </td>
                          <td data-title="'Username'">
                              {{account.username}}
                          </td>
                         <td data-title="'Created By'">
                              {{account.createdbyadmin}}
                          </td>
                          <td data-title="'Role'">
                              {{account.role}}
                          </td>
                          <td data-title="'Status'">
                             {{account.active}}
                          </td>
                          <td data-title="'Action'">
                            <div class="pull-right">
                            <a href="" class="btn btn-success" ng-click="registerModel('lg', account._id)"><span class="glyphicon glyphicon-edit"></span> Edit </a>
                            </div>
                          </td>
                      </tr>
                  </table>
               <script type="text/ng-template" id="custom/pager">

                        <ul class="pager ng-cloak">
                          <li ng-repeat="page in pages"
                                ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                            <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                            <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                          </li>
                            <li> 
                            <div class="btn-group">
                                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                            </div>
                            </li>
                        </ul>
                        
                </script>

                
        </div>
    </div>
</div>