<div class="control-group">
      <label class="control-label" for="res_status">Admin Role</label>
      <div class="controls">
          <label class="radio inline" for="bootstrap7">
              <input type="radio" name="accesscontrol" ng-model="account.accesscontrol" id="bootstrap7" value="bootstrap7">
              Admin Province
          </label> &nbsp;&nbsp;

          <label class="radio inline" for="bootstrap3">
              <input type="radio" name="accesscontrol" ng-model="account.accesscontrol" id="bootstrap3" value="bootstrap3">
              Municipality Admin
          </label>
      </div>
</div>  <br />