  <div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
                <div class="pull-right">
                     <a href="/">×</a>
                </div>
                  <h2>{{myaccount}}</h2>
        </div>
        <div class="panel-body">

                   <form name="userForm" class="form-inline">
                    <div class="well">
                        <div class="row">
                            <div class="col-lg-4">
                                
                                <div class="form-group" ng-class="{error: account.username.$invalid && !account.username.$pristine}">
                                    <div class="col-xs-7">
                                        <label for="username">Username</label>
                                            <input id="username" class="form-control" ng-disabled="true" name="username" ng-model="account.username" type="text" required="" />
                                    </div>
                                </div><br /><br />
                                
                                <div class="form-group" ng-class="{error: account.pswrd.$invalid && !account.pswrd.$pristine}">
                                    <div class="col-xs-7">
                                        <label for="pswrd">Password</label>
                                            <input id="pswrd" class="form-control" ng-disabled="true" name="pswrd" ng-model="account.pswrd" type="password" required="" />
                                    </div>
                                </div><br /><br />
                            
              
                           </div>
                          <div class="col-lg-4" ng-if="account.access === 'administrator'">
                              <div class="control-group">
                                  <label class="control-label" for="res_status">Role</label>
                                  <div class="controls">
                                      <label class="radio inline" for="admin">
                                          <input type="radio" name="role" ng-model="account.role" id="admin" value="admin" checked="checked">
                                          Admin
                                      </label> &nbsp;&nbsp;

                                      <label class="radio inline" for="guest">
                                          <input type="radio" name="role" ng-model="account.role" id="guest" value="guest">
                                          Guest
                                      </label>
                                  </div>
                              </div>  <br />
                           </div>

                                   <div class="col-lg-4" ng-if="account.access === 'administrator'">
                                    <div class="control-group">
                                        <label class="control-label" for="region">Select Region:</label>
                                        <div class="controls">
                                             <select class="form-control" ng-disabled="true" id="region" ng-model="account.region" ng-options="country for country in region">
                                             <option value=''>Select Region</option> </select>
                                        </div>
                                    </div><br />
                                    
                                    <div class="control-group">
                                        <label class="control-label" for="province">Select Province:</label>
                                        <div class="controls">
                                              <select class="form-control" ng-disabled="true" id="province" ng-model="account.province" ng-options="province for province in province">
                                              <option value=''>Select Province</option></select>
                                        </div>
                                    </div><br />
                                    
                                   <!--  <div class="control-group">
                                        <label class="control-label" for="municipality">Select Municipality:</label>
                                        <div class="controls">
                                            <select class="form-control" id="municipality" ng-model="account.municipality" ng-options="municipality for municipality in municipalities"><option value=''>Select Municipality</option></select>  
                                        </div>
                                    </div><br /> -->
                            </div>  <br />

                           <div class="col-lg-4" ng-if="account.accesscontrol === 'municipalitycontrol'">
                                    <div class="control-group">
                                        <label class="control-label" for="region">Select Region:</label>
                                        <div class="controls">
                                             <select class="form-control" id="region"  ng-disabled="true" ng-model="account.region" ng-options="country for country in region">
                                             <option value=''>Select Region</option> </select>
                                        </div>
                                    </div><br />
                                    
                                    <div class="control-group">
                                        <label class="control-label" for="province">Select Province:</label>
                                        <div class="controls">
                                              <select class="form-control" id="province" ng-disabled="true" ng-model="account.province" ng-options="province for province in province">
                                              <option value=''>Select Province</option></select>
                                        </div>
                                    </div><br />
                                    
                                    <div class="control-group">
                                        <label class="control-label" for="municipality">Select Municipality:</label>
                                        <div class="controls">
                                            <select class="form-control" id="municipality" ng-disabled="true" ng-model="account.municipality" ng-options="municipality for municipality in municipalities"><option value=''>Select Municipality</option></select>  
                                        </div>
                                    </div><br />
                            </div>  <br />

                            <div class="col-lg-4" ng-if="account.role === 'barangayadmin'">
                          
                                   <div class="form-group" ng-class="{error: UserAcount.municipality.$invalid && !UserAcount.municipality.$pristine}">
                                    <div class="col-xs-7">
                                        <label for="municipality">Current Municipality</label>
                                            <input id="municipality" class="form-control" ng-disabled="true" name="municipality" ng-model="UserAcount.municipality" type="text" required="" />
                                    </div>
                                   </div><br /><br />

                                    <div class="control-group">
                                        <label class="control-label" for="barangay">Select Barangay:</label>
                                        <div class="controls">
                                        <select class="form-control" id="barangay" ng-model="account.barangay" ng-options="barangay for barangay in barangays"><option value=''>Select Barangay</option></select> 
                                        </div>
                                    </div> 


                            </div>  <br />
                   
                   
            
                        <br>
                       
                  <div>
            </div>
        
        </div>
        <div class="row">
            


           <div class="control-group">
            <label for="tnc">Term &amp; Condition</label><br>
            <label class="checkbox inline" for="tnc">
                <input name="tnc" class="form-control" id="tnc" type="checkbox" ng-model="account.tnc" required />Accept
            </label>
        </div> 
       </div>  
        </div>
 

    </div> 
      
     <div class="panel-footer">
                   <a href="/user" class="btn btn-warning">Cancel</a>
                        <button ng-click="save()" ng-disabled="!account.tnc || myForm.$invalid"
                                class="btn btn-primary" ng-show="account.access === 'administrator'">Save</button>
                        <!-- <button ng-click="delete()"
                                ng-show="account._id" ng-if="account.access === 'administrator'" class="btn btn-danger">Deactivate</button> -->
                      </form>
        </div> 
</div>          