<form name="userForm" class="form-inline" novalidate>
<div class="panel panel-default">
        <div class="panel-heading">
           <div class="pull-right">
                     <a href="" ng-click="ok()"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
            <h2>{{UserAcount.barangay.barangay_name}} Barangay Judicial</h2>
        </div>
        <div class="panel-body">
           
                <div class="well">
                    <tabset justified="true">
                        <tab heading="Profile"><br />
                            <div class="row">
                                   
                                <div class="col-lg-4">
                                    <label for="respondent">Chose Respondent name</label>
                                    <div class="controls">
                                        <select id="respondent" ng-model="brgyjudicial.respondent" name="
                                        respondent" class="form-control" ng-options="value.prof_firstname for (key,value) in children_constituents track by value.prof_firstname" width="200"
                                       >
                                       <option value=''>Select Respondent</option></select>  
                                    </div>
                                   
                                    <div class="well">
                                        <p>Name: {{brgyjudicial.respondent.prof_firstname}} {{brgyjudicial.respondent.prof_middle_name}} {{brgyjudicial.respondent.prof_lastname}}</p>
                                        <p>Status: {{brgyjudicial.respondent.prof_status}}</p>
                                        <p>Gender: {{brgyjudicial.respondent.prof_gender}}</p>
                                        <p>province: {{brgyjudicial.respondent.province.province_name}}</p>
                                        <p>barangay: {{brgyjudicial.respondent.barangay.barangay_name}}</p>
                                    </div>
                                    
               <!--                  <ui-select multiple ng-model="brgyjudicial.respondent" theme="bootstrap" ng-disabled="disabled" close-on-select="false" style="width: 200px;" title="Search your child here">
                                <ui-select-match placeholder="Enter the name of the respondent here">{{$item.prof_firstname}} {{$item.prof_middle_name}} {{$item.prof_lastname}}</ui-select-match>
                                <ui-select-choices repeat="person.prof_firstname+' '+person.prof_middle_name+' '+person.prof_lastname as person in children_me | filter:$select.search">
                                  {{person.prof_firstname}} {{person.prof_middle_name}} {{person.prof_lastname}}
                                </ui-select-choices>
                              </ui-select> -->

                                    <div class="control-group">
                                        <label class="control-label" for="complainant_resident">Resident in this Barangay?</label>
                                        <div class="controls">
                                            <label class="radio inline" for="Yes">
                                                <input type="radio" name="complainant_resident" ng-model="brgyjudicial.complainant_resident" id="yes" value="Yes" checked="checked">
                                               Yes
                                            </label>
                                            <label class="radio inline" for="No">
                                                <input type="radio" name="complainant_resident" ng-model="brgyjudicial.complainant_resident" id="no" value="No"> No
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4"> 
                                    
                                    <label for="province">Chose Complainant Name</label>

                                   <div class="controls">
                                            <select id="province" ng-model="brgyjudicial.complainant" name="
                                            province" class="form-control" ng-options="value.prof_firstname for (key,value) in children_constituents track by value.prof_firstname" width="200"
                                           >
                                           <option value=''>Select Complainant</option></select> 
                                        </div>
                                    
                                    <div class="well">
                                        <p>Name: {{brgyjudicial.complainant.prof_firstname}} {{brgyjudicial.complainant.prof_middle_name}} {{brgyjudicial.complainant.prof_lastname}}</p>
                                        <p>Status: {{brgyjudicial.complainant.prof_status}}</p>
                                        <p>Gender: {{brgyjudicial.complainant.prof_gender}}</p>
                                        <p>province: {{brgyjudicial.complainant.province.province_name}}</p>
                                        <p>barangay: {{brgyjudicial.complainant.barangay.barangay_name}}</p>
                                    </div>
        <!--                      <ui-select multiple ng-model="brgyjudicial.complainant" theme="bootstrap" ng-disabled="disabled" close-on-select="false" style="width: 200px;" title="Search your child here">
                                <ui-select-match placeholder="Enter the name of the respondent here">{{$item.prof_firstname}} {{$item.prof_middle_name}} {{$item.prof_lastname}}</ui-select-match>
                                <ui-select-choices repeat="person.prof_firstname+' '+person.prof_middle_name+' '+person.prof_lastname as person in children_me | filter:$select.search">
                                  {{person.prof_firstname}} {{person.prof_middle_name}} {{person.prof_lastname}}
                                </ui-select-choices>
                              </ui-select> -->

                                    <div class="control-group">
                                        <label class="control-label" for="respondent_resident">Resident in this Barangay?</label>
                                        <div class="controls">
                                            <label class="radio inline" for="Yes">
                                                <input type="radio" name="respondent_resident" ng-model="brgyjudicial.respondent_resident" id="yes" value="Yes" checked="checked">
                                               Yes
                                            </label>
                                            <label class="radio inline" for="No">
                                                <input type="radio" name="respondent_resident" ng-model="brgyjudicial.respondent_resident" id="no" value="No"> No
                                            </label>
                                        </div>
                                    </div> 
                                </div> 

                                <div class="col-lg-4">
                                     <div class="control-group" ng-class="{error: brgyjudicial.case_type.$invalid && !brgyjudicial.case_type.$pristine}">
                                        <label class="control-label" for="case_type">Case Type</label>
                                        <div class="controls">
                                            <input id="case_type" name="case_type" ng-model="brgyjudicial.case_type" type="text"  class="form-control" required=""  ng-class="{error: brgyjudicial.case_type.$invalid && !brgyjudicial.case_type.$pristine}"/>
                                        </div>
                                        <p ng-show="userForm.case_type.$invalid && !userForm.case_type.$pristine" class="help-block" style="color: red;"> * This Field is Required!</p>
                                    </div> <br />

                                    <div class="control-group" ng-class="{error: brgyjudicial.prof_date.$invalid && !brgyjudicial.prof_date.$pristine}">
                                        <label for="prof_date">Date</label>
                                        <div class="controls">
                                         <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model ="brgyjudicial.prof_date" is-open = "brgyjudicial.prof_date.open" ng-click = "brgyjudicial.prof_date.open = true" min-date="minDate" max-date="'maxDate'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                        </div>
                                    </div><br />
                                    <div class="control-group" ng-class="{error: brgyjudicial.duringtime.$invalid && !brgyjudicial.duringtime.$pristine}">
                                    <label for="duringtime">Time</label>
                                      <div class="controls">
                                        <input class="form-control" ng-model="brgyjudicial.duringtime"/>
                                        </div>
                                    </div>
 
                                </div>
                            </div>
                        </tab>
                        
                        <tab heading="Barangay Economic"> <br /><br /> 
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="control-group" ng-class="{error: brgyjudicial.ornum.$invalid && !brgyjudicial.ornum.$pristine}">
                                            <label class="control-label" for="ornum">OR No.</label>
                                        <div class="controls">
                                            <input id="ornum" name="ornum" ng-model="brgyjudicial.ornum" type="number" class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.ornum.$invalid && !userForm.ornum.$pristine" class="help-block" style="color: red;"> * This should be Number !</p>
                                    </div> <br /> 

                                    <div class="control-group" ng-class="{error: brgyjudicial.case_num.$invalid && !brgyjudicial.case_num.$pristine}">
                                        <label class="control-label" for="case_num">Case No.</label>
                                        <div class="controls">
                                            <input id="case_num" name="case_num" ng-model="brgyjudicial.case_num" type="number"  class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.case_num.$invalid && !userForm.case_num.$pristine" class="help-block" style="color: red;"> * This should be Number !</p>
                                    </div> <br /> 

                                    <div class="control-group" ng-class="{error: brgyjudicial.remarks.$invalid && !brgyjudicial.remarks.$pristine}">
                                        <label class="control-label" for="remarks">Remarks</label>
                                        <div class="controls">
                                            <input id="remarks" name="remarks" ng-model="brgyjudicial.remarks" type="text"  class="form-control" required="" />
                                            <p ng-show="userForm.remarks.$invalid && !userForm.remarks.$pristine" class="help-block" style="color: red;"> * This Field is Required!</p>
                                        </div>
                                    </div> <br /> 
                                </div>
                                <div class="col-lg-5">
                                    <div class="control-group" ng-class="{error: brgyjudicial.address.$invalid && !brgyjudicial.address.$pristine}">
                                        <label class="control-label" for="address">Address</label>
                                        <div class="controls">
                                            <input id="address" name="address" ng-model="brgyjudicial.address" type="text" class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.address.$invalid && !userForm.address.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br /> 

                                    <div class="control-group" ng-class="{error: brgyjudicial.employed_fam_members.$invalid && !brgyjudicial.employed_fam_members.$pristine}">
                                        <label class="control-label" for="employed_fam_members">Employed Family Members</label>
                                        <div class="controls">
                                            <input id="employed_fam_members" name="employed_fam_members" ng-model="brgyjudicial.employed_fam_members" type="text" class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.employed_fam_members.$invalid && !userForm.employed_fam_members.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br /> <br />
                                </div>
                            </div>
                                <div class="well">
                                    <label class="control-label" for="barangay">Total Monthly Income:</label><br /><br />
                                    <label ng-repeat="income in incomes">
                                          <input type="checkbox" checklist-model="brgyjudicial.incomes" checklist-value="income"> {{income}}&nbsp;&nbsp;&nbsp;
                                    </label>
                                </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <label class="control-label" for="barangay"><b>Sources of Income:</b></label> <br /> 
                                    <div class="control-group">
                                        <div class="control-group" ng-class="{error: brgyjudicial.employed.$invalid && !brgyjudicial.employed.$pristine}">
                                        <label class="control-label" for="employed">Employed</label>
                                        </div>
                                        <div class="controls">
                                            <input id="employed" name="employed" ng-model="brgyjudicial.employed" type="number" class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.employed.$invalid && !userForm.employed.$pristine" class="help-block" style="color: red;"> * This should be Number ! </p>
                                    </div> <br /> <br />
                                </div>
                                <div class="col-lg-4">
                                    <div class="control-group"><br />
                                        <div class="control-group" ng-class="{error: brgyjudicial.unemployed.$invalid && !brgyjudicial.unemployed.$pristine}">
                                        <label class="control-label" for="unemployed">Unemployed</label>
                                        </div>
                                        <div class="controls">
                                            <input id="unemployed" name="unemployed" ng-model="brgyjudicial.unemployed" type="number" class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.unemployed.$invalid && !userForm.unemployed.$pristine" class="help-block" style="color: red;"> * This should be Number ! </p>
                                    </div> <br /><br />
                                </div>
                                <div class="col-lg-2">
                                    <div class="control-group"><br />
                                        <div class="control-group" ng-class="{error: brgyjudicial.selfemployed.$invalid && !brgyjudicial.selfemployed.$pristine}">
                                        <label class="control-label" for="selfemployed">Self-Employed/Business</label>
                                        </div>
                                        <div class="controls">
                                            <input id="selfemployed" name="selfemployed" ng-model="brgyjudicial.selfemployed" type="number  " class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.selfemployed.$invalid && !userForm.selfemployed.$pristine" class="help-block" style="color: red;"> * This should be Number ! </p>
                                    </div> 
                                </div>
                            </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox inline" for="others">
                                            <input name="others" class="form-control" id="others" type="checkbox" ng-model="brgyjudicial.others" required />Others
                                        </label>
                                    </div>
                                </div> <br /> 

                                <div class="well">
                                    <label class="control-label" for="barangay brgyjudicial and economic">If with home business, what cottage industry are you engaged in ?</label><br /><br />
                                        <label ng-repeat="cottage in cottages">
                                              <input type="checkbox" checklist-model="brgyjudicial.cottages" checklist-value="cottage"> {{cottage}}&nbsp;&nbsp;&nbsp;
                                        </label>
                                </div> <br /> 

                                <div class="well">
                                    <label class="control-label" for="barangay">Other Economic Activities: </label><br /><br />
                                    <div class="controls">
                                        <label ng-repeat="OEA in OEAs">
                                              <input type="checkbox" checklist-model="brgyjudicial.OEAs" checklist-value="OEA"> {{OEA}}&nbsp;&nbsp;&nbsp;
                                        </label>
                                    </div>
                                </div> <br /> 

                                <label class="control-label" for="barangay">Total Estimate Monthly Family Expenditures:</label><br /><br />
                            <div class="row">

                                <div class="col-lg-5">        
                                    <div class="control-group">
                                        <div class="control-group" ng-class="{error: brgyjudicial.food.$invalid && !brgyjudicial.food.$pristine}">
                                        <label class="control-label" for="food">Food</label>
                                        </div>
                                        <div class="controls">
                                            <input id="food" name="food" ng-model="brgyjudicial.food" type="text" class="form-control" required="" />
                                            <p ng-show="userForm.food.$invalid && !userForm.food.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                        </div>
                                    </div> <br /> 

                                    <div class="control-group">
                                        <div class="control-group" ng-class="{error: brgyjudicial.clothing.$invalid && !brgyjudicial.clothing.$pristine}">
                                        <label class="control-label" for="clothing">Clothing</label>
                                        </div>
                                        <div class="controls">
                                            <input id="clothing" name="clothing" ng-model="brgyjudicial.clothing" type="text"  class="form-control"required="" />
                                            <p ng-show="userForm.clothing.$invalid && !userForm.clothing.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                        </div>
                                    </div> <br /> 
                 
                                    <div class="control-group">
                                        <div class="control-group" ng-class="{error: brgyjudicial.electric_bill.$invalid && !brgyjudicial.electric_bill.$pristine}">
                                        <label class="control-label" for="electric_bill">Electric Bill</label>
                                        </div>
                                        <div class="controls">
                                            <input id="electric_bill" name="electric_bill" ng-model="brgyjudicial.electric_bill" type="number"  class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.electric_bill.$invalid && !userForm.electric_bill.$pristine" class="help-block" style="color: red;"> * This should be Number ! </p>
                                    </div> <br /> 

                                    <div class="control-group">
                                        <div class="control-group" ng-class="{error: brgyjudicial.water_bill.$invalid && !brgyjudicial.water_bill.$pristine}">
                                        <label class="control-label" for="water_bill">Water Bill</label>
                                        </div>
                                        <div class="controls">
                                            <input id="water_bill" name="water_bill" ng-model="brgyjudicial.water_bill" type="number"  class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.water_bill.$invalid && !userForm.water_bill.$pristine" class="help-block" style="color: red;"> * This should be Number ! </p>
                                    </div> 
                                </div>
                                
                                <div class="col-lg-5">    

                                    <div class="control-group">
                                        <div class="control-group" ng-class="{error: brgyjudicial.tuition_fee.$invalid && !brgyjudicial.tuition_fee.$pristine}">
                                        <label class="control-label" for="tuition_fee">Tuition Fee</label>
                                        </div>
                                        <div class="controls">
                                            <input id="tuition_fee" name="tuition_fee" ng-model="brgyjudicial.tuition_fee" type="number" class="form-control" required="" />
                                        </div><p ng-show="userForm.tuition_fee.$invalid && !userForm.tuition_fee.$pristine" class="help-block" style="color: red;"> * This should be Number ! </p>
                                    </div> <br /> 

                                    <div class="control-group">
                                        <div class="control-group" ng-class="{error: brgyjudicial.telephone_cellphone.$invalid && !brgyjudicial.telephone_cellphone.$pristine}">
                                        <label class="control-label" for="telephone_cellphone">Telephone/Cellphone</label>
                                        </div>
                                        <div class="controls">
                                            <input id="telephone_cellphone" name="telephone_cellphone" ng-model="brgyjudicial.telephone_cellphone" type="number"  class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.telephone_cellphone.$invalid && !userForm.telephone_cellphone.$pristine" class="help-block" style="color: red;"> * This should be Number ! </p>
                                    </div> <br /> 

                                    <div class="control-group">
                                        <div class="control-group" ng-class="{error: brgyjudicial.transportation.$invalid && !brgyjudicial.transportation.$pristine}">
                                        <label class="control-label" for="transportation">Transportation</label>
                                        </div>
                                        <div class="controls">
                                            <input id="transportation" name="transportation" ng-model="brgyjudicial.transportation" type="text"  class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.transportation.$invalid && !userForm.transportation.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br /> 

                                    <div class="control-group">
                                        <div class="control-group" ng-class="{error: brgyjudicial.miscellaneous.$invalid && !brgyjudicial.miscellaneous.$pristine}">
                                        <label class="control-label" for="miscellaneous">Miscellaneous</label>
                                        </div>
                                        <div class="controls">
                                            <input id="miscellaneous" name="miscellaneous" ng-model="brgyjudicial.miscellaneous" type="number" class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.miscellaneous.$invalid && !userForm.miscellaneous.$pristine" class="help-block" style="color: red;"> * This should be Number ! </p>
                                    </div> 
                                </div>
                            </div>           
                        </tab>

                        <tab heading="Problems"> <br /><br /> 

                            <form name="userForm" class="form-vertical">
                                <div class="control-group">
                                     <label class="control-label" for="barangay"><h4>Select your Problems</h4></label>
                                        <div class="well">
                                            <label ng-repeat="problem in problems" >
                                                  <input type="checkbox" checklist-model="brgyjudicial.problems" checklist-value="problem"> {{problem}}&nbsp;&nbsp;&nbsp;&nbsp;
                                            </label> <br /><br />
                                        <!-- <button ng-click="checkAll()" style="margin-right: 10px">Check all</button>
                                        <button ng-click="uncheckAll()" style="margin-right: 10px">Uncheck all</button>
                                        <button ng-click="checkFirst()">Check first</button> -->
                                        </div>
                                </div>
                            </form> 
                            <!-- <div class="well">
                                <form name="userForm" class="form-vertical" ng-submit="addchildren()">

                                    <input type="text" class="form-control" name="childrens" ng-model="brgyjudicial.childrens" required />
                                    <button ng-disabled="brgyjudicial.$invalid">Add Children</button>
                                </form>
                                <ul>
                                    <li ng-repeat="childrens in childrens">
                                    <input type="checkbox" checklist-model="brgyjudicial.childrens.name" checklist-value="childrens" />
                                    <span>{{childrens.name}}</span>
                                    </li>
                                </ul>
                            </div> <br /> -->

                            <label>Interviewers Comments/Feedback:  </label><br />
                            <textarea name="comments_feedback" class="form-control" ng-model="brgyjudicial.comments_feedback"></textarea>
                            <p ng-show="userForm.comments_feedback.$invalid && !userForm.comments_feedback.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                        </tab>

                        <tab heading="Barangay Records"> <br /> <br />

                            <div class="row">

                                <div class="col-lg-5">
                                    <div class="control-group">
                                        <div class="control-group" ng-class="{error: brgyjudicial.id_num.$invalid && !brgyjudicial.id_num.$pristine}">
                                        <label class="control-label" for="id_num">ID No.</label>
                                        </div>
                                        <div class="controls">
                                            <input id="id_num" name="id_num" ng-model="brgyjudicial.id_num" type="number"  class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.id_num.$invalid && !userForm.id_num.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br /> 

                                    <div class="control-group">
                                        <div class="control-group" ng-class="{error: brgyjudicial.lastname.$invalid && !brgyjudicial.lastname.$pristine}">
                                        <label class="control-label" for="lastname">Last Name</label>
                                        </div>
                                        <div class="controls">
                                            <input id="lastname" name="lastname" ng-model="brgyjudicial.lastname" type="text" class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.lastname.$invalid && !userForm.lastname.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br /> 

                                    <div class="control-group">
                                        <div class="control-group" ng-class="{error: brgyjudicial.firstname.$invalid && !brgyjudicial.firstname.$pristine}">
                                        <label class="control-label" for="firstname">First Name</label>
                                        </div>
                                        <div class="controls">
                                            <input id="firstname" name="firstname" ng-model="brgyjudicial.firstname" type="text" class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.firstname.$invalid && !userForm.firstname.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br /> 

                                    <div class="control-group">
                                        <div class="control-group" ng-class="{error: brgyjudicial.middlename.$invalid && !brgyjudicial.middlename.$pristine}">
                                        <label class="control-label" for="middlename">Middle Name</label>
                                        </div>
                                        <div class="controls">
                                            <input id="middlename" name="lastname" ng-model="brgyjudicial.middlename" type="text"  class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.middlename.$invalid && !userForm.middlename.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br /> 

                                    <div class="control-group">
                                        <div class="control-group" ng-class="{error: brgyjudicial.email_address.$invalid && !brgyjudicial.email_address.$pristine}">
                                        <label class="control-label" for="email_address">Email Address</label>
                                        </div>
                                        <div class="controls">
                                            <input id="email_address" name="email_address" ng-model="brgyjudicial.email_address" type="email" placeholder="@gmail.com" class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.email_address.$invalid && !userForm.email_address.$error.required" class="help-block" style="color: red;"> * The Email is Invalid ! </p>
                                        <!-- <p ng-show="userForm.email_address.$invalid && !userForm.$error.email" class="help-block" style="color: red;"> * This Field is Required ! </p> -->
                                    </div> <br /> 

                                    <div class="control-group">
                                        <div class="control-group" ng-class="{error: brgyjudicial.num_year_brgy.$invalid && !brgyjudicial.num_year_brgy.$pristine}">
                                        <label class="control-label" for="num_year_brgy">No. of year in Barangay</label>
                                        </div>
                                        <div class="controls">
                                            <input id="num_year_brgy" name="num_year_brgy" ng-model="brgyjudicial.num_year_brgy" type="number"  class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.num_year_brgy.$invalid && !userForm.num_year_brgy.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br /> 

                                    <div class="control-group">
                                        <label class="control-label" for="sex">Sex</label>
                                            <div class="controls">
                                                <label class="radio inline" for="male">
                                                    <input type="radio" name="sex" ng-model="brgyjudicial.sex" id="male" value="male" checked="checked">
                                                    Male
                                                </label>
                                                <label class="radio inline" for="female">
                                                    <input type="radio" name="sex" ng-model="brgyjudicial.sex" id="female" value="female" checked="checked">
                                                    Female
                                                </label>
                                            </div>
                                    </div> <br /> 

                                    <div class="control-group">
                                        <div class="control-group" ng-class="{error: brgyjudicial.occupation.$invalid && !brgyjudicial.occupation.$pristine}">
                                        <label class="control-label" for="occupation">Occupation</label>
                                        </div>
                                        <div class="controls">
                                            <input id="occupation" name="occupation" ng-model="brgyjudicial.occupation" type="text" class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.occupation.$invalid && !userForm.occupation.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br /> 

                                    <div class="control-group">
                                        <div class="control-group" ng-class="{error: brgyjudicial.citizenship.$invalid && !brgyjudicial.citizenship.$pristine}">
                                        <label class="control-label" for="citizenship">Citizenship</label>
                                        </div>
                                        <div class="controls">
                                            <input id="citizenship" name="citizenship" ng-model="brgyjudicial.citizenship" type="text"  class="form-control" required="" />                           
                                        </div>
                                        <p ng-show="userForm.citizenship.$invalid && !userForm.citizenship.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br /> 

                                    <div class="control-group">
                                        <label class="control-label" for="religions">Religions :</label>
                                        <div class="controls">
                                            <select id="religion" ng-model="brgyjudicial.religion" name="religion" class="form-control" ng-options="opt.name as opt.name for opt in religions"></select>
                                        </div>
                                    </div> <br /> 

                                    <div class="control-group" ng-class="{error: brgyjudicial.sitio.$invalid && !brgyjudicial.sitio.$pristine}">
                                        <label class="control-label" for="sitio">Sitio</label>
                                        <div class="controls">
                                            <input id="sitio" name="sitio" ng-model="brgyjudicial.sitio" type="text" class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.sitio.$invalid && !userForm.sitio.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br />  

                                    <div class="control-group" ng-class="{error: brgyjudicial.jud_dateofbirth.$invalid && !brgyjudicial.jud_dateofbirth.$pristine}">
                                            <label for="jud_dateofbirth">Date of Birth</label>
                                            <div class="controls">
                                            <input type="text" class="form-control" datepicker-popup="MM-dd-yyyy" ng-model ="brgyjudicial.jud_dateofbirth" is-open = "brgyjudicial.jud_dateofbirth.open" ng-click = "brgyjudicial.jud_dateofbirth.open = true" min-date="minDate" max-date="'maxDate'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                            </div>
                                        </div> <br />
                                    <div class="control-group" ng-class="{error: brgyjudicial.telephone.$invalid && !brgyjudicial.telephone.$pristine}">
                                        <label class="control-label" for="telephone">Telephone/Mobile/Fax</label>
                                        <div class="controls">
                                            <input id="telephone" name="telephone" ng-model="brgyjudicial.telephone" type="number"  class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.telephone.$invalid && !userForm.telephone.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br />

                                    <div class="control-group" ng-class="{error: brgyjudicial.home_address.$invalid && !brgyjudicial.home_address.$pristine}">
                                        <label class="control-label" for="home_address">Home Address</label>
                                        <div class="controls">
                                            <input id="home_address" name="home_address" ng-model="brgyjudicial.home_address" type="text"  class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.home_address.$invalid && !userForm.home_address.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br />
                                    <div class="control-group" ng-class="{error: brgyjudicial.prev_address.$invalid && !brgyjudicial.prev_address.$pristine}">
                                        <label class="control-label" for="prev_address">Previous Address</label>
                                        <div class="controls">
                                            <input id="prev_address" name="prev_address" ng-model="brgyjudicial.home_address" type="text"  class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.prev_address.$invalid && !userForm.prev_address.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br /> 

                                    <div class="control-group" ng-class="{error: brgyjudicial.birth_place.$invalid && !brgyjudicial.birth_place.$pristine}">
                                        <label class="control-label" for="birth_place">Birth Place</label>
                                        <div class="controls">
                                            <input id="birth_place" name="birth_place" ng-model="brgyjudicial.birth_place" type="text"  class="form-control" required="" />
                                        </div>
                                    </div> <br /> 

                                    <div class="control-group">
                                        <label class="control-label" for="status">Civil Status</label>
                                        <div class="controls">
                                            <label class="radio inline" for="single">
                                                <input type="radio" name="status" ng-model="brgyjudicial.status" id="single" value="single" checked="checked">
                                                Single
                                            </label>

                                            <label class="radio inline" for="married">
                                                <input type="radio" name="status" ng-model="brgyjudicial.status" id="mrriage" value="married">
                                                Marriage
                                            </label>

                                            <label class="radio inline" for="divorce">
                                                <input type="radio" name="status" ng-model="brgyjudicial.status" id="divorce" value="divorce">
                                                Divorce
                                            </label>
                                        </div>
                                    </div> <br /> <br />
                                </div>

                                <div class="col-lg-5">

                                    <label class="control-label" for="tnc"><b>Father Information:</b></label>

                                    <div class="control-group" ng-class="{error: brgyjudicial.father_lastname.$invalid && !brgyjudicial.father_lastname.$pristine}">
                                        <label class="control-label" for="father_lastname">Last Name</label>
                                        <div class="controls">
                                            <input id="father_lastname" name="father_lastname" ng-model="brgyjudicial.father_lastname" type="text" class="form-control" required="" />
                                        </div><p ng-show="userForm.father_lastname.$invalid && !userForm.father_lastname.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br /> 

                                    <div class="control-group" ng-class="{error: brgyjudicial.father_firstname.$invalid && !judicial.father_firstname.$pristine}">
                                        <label class="control-label" for="father_firstname">First Name</label>
                                        <div class="controls">
                                            <input id="father_firstname" name="father_firstname" ng-model="brgyjudicial.father_firstname" type="text" class="form-control" required="" />
                                        </div><p ng-show="userForm.father_firstname.$invalid && !userForm.father_firstname.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br /> 

                                    <div class="control-group" ng-class="{error: brgyjudicial.father_middlename.$invalid && !brgyjudicial.father_middlename.$pristine}">
                                        <label class="control-label" for="father_middlename">Middle Name</label>
                                        <div class="controls">
                                            <input id="father_middlename" name="father_middlename" ng-model="brgyjudicial.father_middlename" type="text"  class="form-control" required="" />
                                        </div><p ng-show="userForm.father_middlename.$invalid && !userForm.father_middlename.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br /> <br />

                                    <label class="control-label" for="tnc"><b>Mother Information:</b></label>

                                    <div class="control-group" ng-class="{error: brgyjudicial.mother_lastname.$invalid && !brgyjudicial.mother_lastname.$pristine}">
                                        <label class="control-label" for="mother_lastname">Last Name</label>
                                        <div class="controls">
                                            <input id="mother_lastname" name="mother_lastname" ng-model="brgyjudicial.mother_lastname" type="text"  class="form-control" required="" />
                                        </div><p ng-show="userForm.mother_lastname.$invalid && !userForm.mother_lastname.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br /> 

                                    <div class="control-group" ng-class="{error: brgyjudicial.mother_firstname.$invalid && !brgyjudicial.mother_firstname.$pristine}">
                                        <label class="control-label" for="mother_firstname">First Name</label>
                                        <div class="controls">
                                            <input id="mother_firstname" name="mother_firstname" ng-model="brgyjudicial.mother_firstname" type="text" class="form-control" required="" />
                                        </div><p ng-show="userForm.mother_firstname.$invalid && !userForm.mother_firstname.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br /> 

                                    <div class="control-group" ng-class="{error: brgyjudicial.mother_middlename.$invalid && !brgyjudicial.mother_middlename.$pristine}">
                                        <label class="control-label" for="mother_middlename">Middle Name</label>
                                        <div class="controls">
                                            <input id="mother_middlename" name="mother_middlename" ng-model="brgyjudicial.mother_middlename" type="text"  class="form-control" required="" />
                                        </div><p ng-show="userForm.mother_middlename.$invalid && !userForm.mother_middlename.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br /> 

                                    <div class="control-group" ng-class="{error: brgyjudicial.educ_attainment.$invalid && !brgyjudicial.educ_attainment.$pristine}">
                                        <label class="control-label" for="educ_attainment">Educational Attainment</label>
                                        <div class="controls">
                                            <input id="educ_attainment" name="educ_attainment" ng-model="brgyjudicial.mother_meduc_attainmentieduc_attainmentddeduc_attainmentlename" type="text" class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.educ_attainment.$invalid && !userForm.educ_attainment.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br /> 

                                    <div class="control-group" ng-class="{error: brgyjudicial.skills.$invalid && !brgyjudicial.skills.$pristine}">
                                        <label class="control-label" for="skills">Skills</label>
                                        <div class="controls">
                                            <input id="skills" name="skills" ng-model="brgyjudicial.skills" type="text"  class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.skills.$invalid && !userForm.skills.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br /> <br />

                                    <label class="control-label" for="tnc"><b>Spouse Information:</b></label>

                                    <div class="control-group" ng-class="{error: brgyjudicial.spouse_lastname.$invalid && !brgyjudicial.spouse_lastname.$pristine}">
                                        <label class="control-label" for="spouse_lastname">Last Name</label>
                                        <div class="controls">
                                            <input id="spouse_lastname" name="spouse_lastname" ng-model="brgyjudicial.spouse_lastname" type="text"  class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.spouse_lastname.$invalid && !userForm.spouse_lastname.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br /> 

                                    <div class="control-group" ng-class="{error: brgyjudicial.spouse_firstname.$invalid && !brgyjudicial.spouse_firstname.$pristine}">
                                        <label class="control-label" for="spouse_firstname">First Name</label>
                                        <div class="controls">
                                            <input id="spouse_firstname" name="spouse_firstname" ng-model="brgyjudicial.spouse_firstname" type="text" class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.spouse_firstname.$invalid && !userForm.spouse_firstname.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br /> 

                                    <div class="control-group" ng-class="{error: brgyjudicial.spouse_middlename.$invalid && !brgyjudicial.spouse_middlename.$pristine}">
                                        <label class="control-label" for="spouse_middlename">Middle Name</label>
                                        <div class="controls">
                                            <input id="spouse_middlename" name="spouse_middlename" ng-model="brgyjudicial.spouse_middlename" type="text" class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.spouse_middlename.$invalid && !userForm.spouse_middlename.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div> <br /> 

                                    <div class="control-group" ng-class="{error: brgyjudicial.children.$invalid && !brgyjudicial.children.$pristine}">
                                        <label class="control-label" for="children">No. of Children</label>
                                        <div class="controls">
                                            <input id="children" name="children" ng-model="brgyjudicial.children" type="number"  class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.children.$invalid && !userForm.children.$pristine" class="help-block" style="color: red;"> * This Field is Required! </p>
                                    </div><br /> 
                                </div>
                            </div>
                        </tab>
                    </tabset>

                    <div class="control-group"><br />
                        <label for="tnc">Term &amp; Condition</label><br>
                        <label class="checkbox inline" for="tnc">
                            <input name="tnc" class="form-control" id="tnc" type="checkbox" ng-model="brgyjudicial.tnc" required />Accept
                        </label>

                    </div><br />
                    <div ng-show="error" class="alert alert-danger col-md-6">{{error}}</div>
                </div>
        </div>
                <div class="panel-footer">
                    <a href="" ng-click="ok()" class="btn btn-warning"> <span class="glyphicon glyphicon-arrow-left"></span> Cancel</a>
                
                    <button ng-hide="brgyjudicial._id" ng-click="savejudcial(brgyjudicial.respondent._id)" ng-disabled="!brgyjudicial.tnc || myForm.$invalid"
                                    class="btn btn-success"> Save <span class="glyphicon glyphicon-floppy-save"></span> </button>
                    <button ng-show="brgyjudicial._id" ng-click="updatejudcial(brgyjudicial._id, brgyjudicial.respondent._id)" ng-disabled="!brgyjudicial.tnc || myForm.$invalid"
                                    class="btn btn-success"> Update <span class="glyphicon glyphicon-floppy-save"></span> </button>
                    <button ng-click="deletejudicial(brgyjudicial._id)"
                                    ng-show="brgyjudicial._id" class="btn btn-danger"> Delete <span class="glyphicon glyphicon-trash"></span> </button>
                </div>
            
    </div> 
</form>

