<form name="userForm" class="form-inline" novalidate>
  <div class="panel panel-default">
        <div class="panel-heading">
                <div class="pull-right">
                     <a href="" ng-click="ok()"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
                <h2> Barangay {{UserAcount.barangay.barangay_name}} Resident Profile </h2>

        </div>
  <div class="panel-body">

                <div class="well">
                    <tabset justified="true">
                        <tab heading="Profile"> <br /><br />
                            <div class="row">
                            
                                <div class="col-lg-4">



                                    <div class="control-group" ng-class="{error: brgyresident.prof_lastname.$invalid && !brgyresident.prof_lastname.$pristine}">
                                        <label class="control-label" for="prof_lastname">Last Name</label>
                                        <div class="controls">
                                            <input id="prof_lastname" name="prof_lastname" ng-model="brgyresident.prof_lastname" type="text"  class="form-control" required="" capitalize-first/>
                                            <p ng-show="userForm.prof_lastname.$invalid && !userForm.prof_lastname.$pristine" class="help-block" style="color: red; "> * Must enter Lastname</p>
                                        </div>
                                    </div> <br />

                                    <div class="control-group" ng-class="{error: brgyresident.prof_firstname.$invalid && !brgyresident.prof_firstname.$pristine}">
                                        <label class="control-label" for="prof_firstname">First Name</label>
                                        <div class="controls">
                                            <input id="prof_firstname" name="prof_firstname" ng-model="brgyresident.prof_firstname" type="text" class="form-control" required="" capitalize-first/>
                                        </div>
                                        <p ng-show="userForm.prof_firstname.$invalid && !userForm.prof_firstname.$pristine" class="help-block" style="color: red;"> * Must enter Firstname</p>
                                    </div> <br />

                                    <div class="control-group" ng-class="{error: brgyresident.prof_middle_name.$invalid && !brgyresident.prof_middle_name.$pristine}">
                                        <label class="control-label" for="prof_middle_name">Middle Name</label>
                                        <div class="controls">
                                            <input id="prof_middle_name" name="prof_middle_name" ng-model="brgyresident.prof_middle_name" type="text"  class="form-control" required="" capitalize-first/>
                                        </div>
                                        <p ng-show="userForm.prof_middle_name.$invalid && !userForm.prof_middle_name.$pristine" class="help-block" style="color: red;"> * Must Enter Middlename</p>
                                    </div> <br />

                                    <div class="control-group" ng-class="{error: brgyresident.prof_occupation.$invalid && !brgyresident.prof_occupation.$pristine}">
                                        <label class="control-label" for="prof_occupation"> Occupation </label>
                                        <div class="controls">
                                            <input id="occupation" name="occupation" ng-model="brgyresident.prof_occupation" type="text"  class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.prof_occupation.$invalid && !userForm.prof_occupation.$pristine" class="help-block" style="color: red;"> * Must Enter Occupation </p>
                                    </div><br />


                                    <div class="control-group" ng-class="{error: brgyresident.prof_position.$invalid && !brgyresident.prof_position.$pristine}">
                                        <label class="control-label" for="position"> Position </label>
                                        <div class="controls">
                                            <input id="position" name="position" ng-model="brgyresident.prof_position" type="text"class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.prof_position.$invalid && !userForm.prof_position.$pristine" class="help-block" style="color: red;"> * Must Enter the Position !</p>
                                    </div> <br />

                                    <div class="control-group">
                                        <label class="control-label" for="prof_gender">Gender</label>
                                        <div class="controls">
                                            <label class="radio inline" for="prof_male">
                                                <input type="radio" name="prof_gender" ng-model="brgyresident.prof_gender" id="Male" value="Male" checked="checked">
                                                Male
                                            </label>
                                            <label class="radio inline" for="prof_female">
                                                <input type="radio" name="prof_gender" ng-model="brgyresident.prof_gender" id="Female" value="Female">
                                                Female
                                            </label>
                                        </div>


                                    </div> <br />

                                </div>

                                <div class="col-lg-4">

                                    <div class="well" ng-show="brgyresident.imageuri" style="height: 200px; width: 200px;">
                                           <img id="Hello" src="{{brgyresident.imageuri}}" ng-model="brgyresident.imageuri"
                                           height="160" width="160">
                                    </div>
                                    <div class="well" ng-show="!brgyresident.imageuri" style="height: 200px; width: 200px;">
                                           <img id="Hello" ng-src="img/no-photo-icon.png"  ng-model="brgyresident.imageuri"
                                           height="160" width="160">
                                    </div>
                                    <div class="control-group" ng-class="{error: brgyresident.prof_sitio.$invalid && !brgyresident.prof_sitio.$pristine}">
                                        <label class="control-label" for="sitio">Sitio</label>
                                        <div class="controls">
                                            <input id="sitio" name="sitio" ng-model="brgyresident.prof_sitio" type="text" class="form-control" required="" />
                                        </div>
                                        <p ng-show="userForm.sitio.$invalid && !userForm.sitio.$pristine" class="help-block" style="color: red;"> * Must Enter sitio !</p>
                                    </div> <br />

                                    <div class="control-group" ng-class="{error: brgyresident.b_date.$invalid && !brgyresident.b_date.$pristine}">
                                        <label for="b_date">Birth Date</label>
                                        <div class="controls">
                                         <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model ="brgyresident.b_date" is-open = "brgyresident.b_date.open" ng-click = "brgyresident.b_date.open = true" min-date="minDate" max-date="'maxDate'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                        </div>

                                    </div><br />
                                    <p ng-if="get_age"> <span class="label label-success">Age: {{ get_age | number:0 }}</span> </p>
                                    <p ng-show="brgyresident.current_age" ng-hide="get_age"><span class="label label-success">Age: {{ brgyresident.current_age | number:0 }} </span></p>
                            
                                </div>

                                <div class="col-lg-4">

                           
                                <br>

                                    <div class="control-group">
                                        <label class="control-label" for="prof_status">Status</label>
                                        <div class="controls">
                                            <label class="radio inline" for="Single">
                                                <input type="radio" name="prof_status" ng-model="brgyresident.prof_status" id="Single" value="Single">
                                                Single
                                            </label> &nbsp;&nbsp;

                                            <label class="radio inline" for="Married">
                                                <input type="radio" name="prof_status" ng-model="brgyresident.prof_status" id="mMrriage" value="Married">
                                                Married
                                            </label>&nbsp;&nbsp;

                                            <label class="radio inline" for="Widow">
                                                <input type="radio" name="prof_status" ng-model="brgyresident.prof_status" id="Widow" value="Widow">
                                                Widow
                                            </label>&nbsp;&nbsp;


                                            <label class="radio inline" for="Divorce">
                                                <input type="radio" name="prof_status" ng-model="brgyresident.prof_status" id="Divorce" value="Divorce">
                                                Divorce
                                            </label>
                                        </div>
                                    </div><br />

                                    <div ng-show="brgyresident.prof_status === 'Married' || brgyresident.prof_status === 'Widow'" class="control-group">
                                            <label for="resident_married_to">Name of Spouse</label>
                                 <ui-select ng-model="brgyresident.spouse" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                                    <ui-select-match placeholder="Select a person in the list or search his/her name/prof_lastname...">{{$select.selected.prof_firstname}} {{$select.selected.prof_middle_name}} {{$select.selected.prof_lastname}}</ui-select-match>
                                    <ui-select-choices repeat="spouse.prof_firstname as spouse in children_me | propsFilter: {prof_firstname: $select.search, prof_lastname: $select.search}">
                                      <div ng-bind-html="spouse.prof_firstname | highlight: $select.search"></div>
                                      <small>
                                        Firstname: {{spouse.prof_firstname}}<br>
                                        Middle Name: {{spouse.prof_middle_name}}<br>
                                        Lastname: <span ng-bind-html="''+spouse.prof_lastname | highlight: $select.search"></span>
                                      </small>
                                    </ui-select-choices>
                                  </ui-select>

                                    </div>

                                    <div ng-show="brgyresident.prof_status === 'Divorce'" class="control-group">
                                            <label for="resident_divorce">Name of X-spouse or Husband</label>
                                    <ui-select ng-model="brgyresident.x_spouse" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                                    <ui-select-match placeholder="Select a person in the list or search his/her name/prof_lastname...">{{$select.selected.prof_firstname}} {{$select.selected.prof_middle_name}} {{$select.selected.prof_lastname}}</ui-select-match>
                                    <ui-select-choices repeat="x_spouse.prof_firstname as x_spouse in children_me | propsFilter: {prof_firstname: $select.search, prof_lastname: $select.search}">
                                      <div ng-bind-html="x_spouse.prof_firstname | highlight: $select.search"></div>
                                      <small>
                                        Firstname: {{x_spouse.prof_firstname}}<br>
                                        Middle name: {{x_spouse.prof_middle_name}}<br>
                                        Lastname: <span ng-bind-html="''+x_spouse.prof_lastname | highlight: $select.search"></span>
                                      </small>
                                    </ui-select-choices>
                                  </ui-select>
                                    </div>      
             
                                </div>
                           
                                <div class="col-lg-4">
                                       <div class="control-group">
                                            <label class="control-label" for="Region">Birth Place</label>
                                            <div class="controls">
                                            <select class="form-control" name="region_bplace" id="region_bplace" ng-model="brgyresident.region_bplace" ng-options="value.region_name for (key,value) in r track by value.region_name">
                                            <option value=''>Select Region</option></select> 
                                            </div>
                                       </div>
                                       <div class="control-group">
                                            <label class="control-label" for="Province">Select Province:</label>
                                            <div class="controls">
                                            <select ng-disabled="!brgyresident.region_bplace" class="form-control" name="province_bplace" id="province_bplace" ng-model="brgyresident.province_bplace" ng-options="value.province_name for (key,value) in p track by value.province_name">
                                            <option value=''>Select Province</option></select> 
                                            </div>
                                       </div> 
                                       <div class="control-group">
                                            <label class="control-label" for="municipality_bplace">Select Municipality:</label>
                                            <div class="controls">
                                            <select ng-disabled="!brgyresident.province_bplace" class="form-control" name="municipality_bplace" id="municipality_bplace" ng-model="brgyresident.municipality_bplace" ng-options="value.municipality_name for (key,value) in m track by value.municipality_name">
                                            <option value=''>Select Barangay</option></select> 
                                            </div>
                                        </div> 
                                        <div class="control-group">
                                            <label class="control-label" for="barangay_bplace">Select Barangay:</label>
                                            <div class="controls">
                                            <select style="width: 200px;" ng-disabled="!brgyresident.municipality_bplace"  class="form-control" name="barangay_bplace" id="barangay_bplace" ng-model="brgyresident.barangay_bplace" ng-options="value.barangay_name for (key,value) in b track by value.barangay_name">
                                            <option value=''>Select Barangay</option></select> 
                                            </div>
                                        </div> 
                                 </div>
                            </div>
                        </tab>



                        <tab heading="Health"><br /><br />

                            <label class="control-label" for="health"><b>A. HEALTH PROTECTION</b></label><br />

                            <label class="control-label" for="health">Immunization: </label>
                                <div class="well">
                                    <label ng-repeat="immunization in immunizations">
                                          <input type="checkbox" checklist-model="brgyresident.immunizations" checklist-value="immunization"> {{immunization}}&nbsp;&nbsp;&nbsp;
                                    </label>
                                    <p>{{immunization}}</p>
                                </div> <br />
                            <label class="control-label" for="tnc">Nutrition Information and Education: </label>
                                <div class="well">
                                    <label ng-repeat="nutrition in nutritions">
                                          <input type="checkbox" checklist-model="brgyresident.nutritions" checklist-value="nutrition"> {{nutrition}}&nbsp;&nbsp;&nbsp;
                                    </label>
                                </div> <br />
                            <label class="control-label" for="health"><b>B. HEALTH SERVICE AVAILED, rank by frequency of visits</b></label>
                                <div class="well">
                                    <label ng-repeat="health in healths">
                                          <input type="checkbox" checklist-model="brgyresident.healths" checklist-value="health"> {{health}}&nbsp;&nbsp;&nbsp;
                                    </label>
                                   
                                </div> <br />

                            <label class="control-label" for="health">Others, specify :</label>
                                <div class="well">
                                    <label ng-repeat="other in others">
                                          <input type="checkbox" checklist-model="brgyresident.others" checklist-value="other"> {{other}}&nbsp;&nbsp;&nbsp;
                                    </label>
                                </div>    <br />               
                            <label class="control-label" for="health">Source of Potable Water : we need to know cause of some diseases</label>
                                <div class="well">
                                    <label ng-repeat="water in waters">
                                          <input type="checkbox" checklist-model="brgyresident.waters" checklist-value="water"> {{water}}&nbsp;&nbsp;&nbsp;
                                    </label>
                                </div>
                        </tab>

                        <tab heading="Environmental"><br /><br />

                        <label class="control-label" for="environmental">If not MCWD, was the water supply tested ?</label> <br /><br />

                            <div class="control-group">
                                <div class="controls">
                                    <label class="radio inline" for="envi_answer">
                                        <input type="radio" name="envi_answer" ng-model="brgyresident.envi_answer" id="yes" value="yes" checked="checked">
                                        Yes
                                    </label>
                                    <label class="radio inline" for="envi_answer">
                                        <input type="radio" name="envi_answer" ng-model="brgyresident.envi_answer" id="no" value="no">
                                        No
                                    </label>
                                </div>
                            </div><br />

                            <label class="control-label" for="environmental">Is there a continuous supply portable water ?</label>

                            <div class="well">
                                <label ng-repeat="supply in supplies">
                                      <input type="checkbox" checklist-model="brgyresident.supplies" checklist-value="supply"> {{supply}}&nbsp;&nbsp;&nbsp;
                                </label>
                            </div>

                            <label class="control-label" for="environmental">Types of toilet facilities used</label>

                            <div class="well">
                                <label ng-repeat="facility in facilities">
                                      <input type="checkbox" checklist-model="brgyresident.facilities" checklist-value="facility"> {{facility}}&nbsp;&nbsp;&nbsp;
                                </label>
                            </div>

                            <label class="control-label" for="environmental">Others :</label>

                            <div class="well">
                                <label ng-repeat="otherone in otherones">
                                      <input type="checkbox" checklist-model="brgyresident.otherones" checklist-value="otherone"> {{otherone}}&nbsp;&nbsp;&nbsp;
                                </label>
                            </div>
                        </tab>

                        <tab heading="Culture"> <br /><br />
                            <div class="row">

                                <div class="col-lg-5">
                                    <label class="control-label" for="languagesfamily">Language Spoken by the family:</label>
                                    <div class="well">
                                        <label ng-repeat="language in languages">
                                              <input type="checkbox" checklist-model="brgyresident.languages" checklist-value="language"> {{language}}&nbsp;&nbsp;&nbsp;
                                        </label>
                                    </div>
                                </div>

                                <div class="col-lg-5">
                                    <label class="control-label" for="languagedialect">Dialect Spoken/s:</label>
                                    <div class="well">
                                        <label ng-repeat="dialect in dialects">
                                              <input type="checkbox" checklist-model="brgyresident.dialects" checklist-value="dialect"> {{dialect}}&nbsp;&nbsp;&nbsp;
                                        </label>
                                    </div>
                                </div>
                                
                            </div>

                        </tab>

                            <tab heading="Political"> <br /><br />

                               <label class="control-label" for="environmental">Do you know your Barangay Officials.</label>

                                    <div class="controls">
                                        <label class="radio inline" for="pol_brgyofficials">
                                            <input type="radio" name="pol_brgyofficials" ng-model="brgyresident.pol_brgyofficials" id="yes" value="yes" checked="checked"> Yes
                                        </label> &nbsp;&nbsp;
                                        <label class="radio inline" for="pol_brgyofficials">
                                            <input type="radio" name="pol_brgyofficials" ng-model="brgyresident.pol_brgyofficials" id="no" value="no"> No
                                        </label>
                                    </div> <br />

                                <label class="control-label" for="environmental">Are you aware of the existing activities which the Barangay.</label>
                                    <div class="control-group">
                                        <label class="radio inline" for="pol_actbrgy">
                                                <input type="radio" name="pol_actbrgy" ng-model="brgyresident.pol_actbrgy" id="yes" value="yes" checked="checked"> Yes
                                        </label> &nbsp;&nbsp;
                                        <label class="radio inline" for="pol_actbrgy">
                                            <input type="radio" name="pol_actbrgy" ng-model="brgyresident.pol_actbrgy" id="no" value="no"> No
                                        </label>
                                    </div> <br />
                                <label class="control-label" for="environmental">If asked to assist/help, are you willing to give your time.</label>
                                    <div class="control-group">
                                        <label class="radio inline" for="pol_assisthelp">
                                                <input type="radio" name="pol_assisthelp" ng-model="brgyresident.pol_assisthelp" id="yes" value="yes" checked="checked"> Yes
                                        </label>&nbsp;&nbsp;
                                        <label class="radio inline" for="pol_assisthelp">
                                            <input type="radio" name="pol_assisthelp" ng-model="brgyresident.pol_assisthelp" id="no" value="no"> No
                                        </label>
                                    </div> <br />

                                <label class="control-label" for="environmental">If yes, in what particular area ?</label>

                                    <div class="control-group">
                                        <label class="radio inline" for="churchreligious">
                                                <input type="radio" name="area" ng-model="brgyresident.area" id="churchreligious" value="churchreligious" checked="checked"> Church/Religious
                                        </label> &nbsp; &nbsp;
                                        <label class="radio inline" for="schools">
                                            <input type="radio" name="area" ng-model="brgyresident.area" id="schools" value="schools"> Schools
                                        </label> &nbsp; &nbsp;
                                        <label class="radio inline" for="pando">
                                                <input type="radio" name="area" ng-model="brgyresident.area" id="pando" value="pando" checked="checked"> Peace and Order
                                        </label> &nbsp; &nbsp;
                                        <label class="radio inline" for="skills">
                                            <input type="radio" name="area" ng-model="brgyresident.area" id="skills" value="skills"> Skills
                                        </label><br /><br />
                              
                                        <div class="controls">
                                        <label class="checkbox inline" for="pol_others">
                                            <input name="pol_others" class="form-control" id="pol_others" type="checkbox" ng-model="brgyresident.pol_others" required />Others
                                        </label>
                                    </div>
                                    </div> &nbsp; &nbsp;        
                                  
                            </tab>


                            <tab heading="Photo"><br /><br />
                                <div class="row">
                                    <center>
                                        <div class="wrap">
                                            <form> 
                                                <label for="first">Webcam</label>
                                                <input id="first" type="radio" name="content" ng-model="brgyresident.content" value="first">
                                               &nbsp; &nbsp; &nbsp; &nbsp; 
                                                <label for="other">Upload Picture</label>
                                                <input id="other" type="radio" name="content" ng-model="brgyresident.content" value="other">
                                            </form>
                                        </div>
                                    </center>
                                </div>
                                <br>
                                <hr />

                                <div class="row" ng-show="brgyresident.content== 'first'">
                                    <div class="col-lg-4">
                                        <div class="well pull-left" style="height: 240px; width: 240px;">
                                            <div id="actual_image"></div><br>
                                            <center>
                                                <span ng-if="!brgyresident.imageuri " class="btn btn-success fileinput-button">
                                                                <i class="glyphicon glyphicon-camera"></i>
                                                                <span>Click to Capture</span>
                                                                 <input type="submit" ng-click="take_snapshot()">
                                                </span>
                                                <span ng-show="brgyresident.imageuri" class="btn btn-success fileinput-button">
                                                                <i class="glyphicon glyphicon-camera"></i>
                                                                <span>Change Avatar</span>
                                                                <input type="submit" ng-click="take_snapshot()">
                                                </span>
                                            </center>   
                                        </div>       
                                    </div>

                                    <div class="col-lg-4"></div>

                                    <div class="col-lg-4">
                                                
                                        <div ng-hide="brgyresident._id" id="capture_image" class="well pull-right"  style="height: 230px; width: 240px; color: green;">
                                               Your captured image will appear here...
                                        </div>
                                        <div class="well pull-right" ng-hide="!brgyresident._id" style="height: 240px; width: 240px;">
                                               <img id="Hello" src="{{brgyresident.imageuri}}" ng-model="brgyresident.imageuri">
                                        </div>
 
                                    </div>

                                </div>
                
                                     <!-- Configure a few settings and attach camera -->
                                        <script language="JavaScript">
                                            Webcam.set({
                                                width: 200,
                                                height: 160,
                                                image_format: 'jpeg',
                                                jpeg_quality: 72
                                            });
                                            Webcam.attach( '#actual_image' );
                                        </script>
                                        
                                        <!-- A button for taking snaps -->
                                          
                                    <div class="row" ng-show="brgyresident.content == 'other'">

                                        <div class="col-md-6">

                                                       <image-crop
                                                         data-width="200"
                                                         data-height="200"
                                                         data-shape="square"
                                                         data-step="imageCropStep"
                                                         data-result="brgyresident.imageuri"
                                                         ng-show="showImageCropper = true"
                                                       ></image-crop>
                                                        <p ng-show="brgyresident.imageuri">Wanna start over? &rarr; <a href="" ng-click="brgyresident.imageuri = null;imageCropStep=1" class="btn btn-info">Reset</a></p>
                                        </div>
                                        <div class="col-md-6">
                                            <center>
                                                <div ng-show="brgyresident.imageuri">
                                                     <img ng-src="{{ brgyresident.imageuri }}" alt="The Cropped Image">
                                                     <p style="color: green;">Actual Profile Picture</p>
                                                     <input type="hidden" class="form-control" ng-model="brgyresident.imageuri" value="brgyresident.imageuri" />
                                                </div>
                                           </center>
                                        </div>
                                   </div><br /><br />
                            </tab>
                </tabset>

                        <div class="control-group">
                            <div ng-show="brgyresident.prof_status === 'Married' || brgyresident.prof_status === 'Divorce'">
                            <label>Search your child here</label><br>


                              <ui-select multiple ng-model="brgyresident.childrens" theme="bootstrap" ng-disabled="disabled" close-on-select="false" style="width: 800px;" title="Search your child here">
                                <ui-select-match placeholder="Enter the name of your child here">{{$item.prof_firstname}} {{$item.prof_middle_name}} {{$item.prof_lastname}}</ui-select-match>
                                <ui-select-choices repeat="person.prof_firstname+' '+person.prof_middle_name+' '+person.prof_lastname as person in children_me | filter:$select.search">
                                  {{person.prof_firstname}} {{person.prof_middle_name}} {{person.prof_lastname}}
                                </ui-select-choices>
                              </ui-select>


                            </div>


                            <label for="tnc">Term &amp; Condition</label><br />
                            <label class="checkbox inline" for="tnc">
                                <input name="tnc" class="form-control" id="tnc" type="checkbox" ng-model="brgyresident.tnc" required />Accept
                            </label>
                            <br />
                            <div ng-show="error" class="alert alert-danger col-md-6">{{error}}</div>

                        </div>
                        <br />

             
         </div>
    </div> 
        <div class="panel-footer">

                    <a class="btn btn-warning" ng-click="ok()"> <span class="glyphicon glyphicon-arrow-left"></span> Cancel</a>
                    <button ng-show="!brgyresident._id" ng-click="saveresident()" 
                            ng-disabled="!brgyresident.tnc || myForm.$invalid" 
                            class="btn btn-success"> Save <span class="glyphicon glyphicon-floppy-save"></span> </button>
                    <button ng-click="updateresident(brgyresident._id)" 
                            ng-show="brgyresident._id" 
                            class="btn btn-success"> Update <span class="glyphicon glyphicon-floppy-save"></span> 
                            </button>
                    <button ng-click="destroy(brgyresident._id)"
                            ng-show="brgyresident._id" class="btn btn-danger"> Delete <span class="glyphicon glyphicon-trash"></span> </button>
        </div>
</div>
</form>

 
