  <div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
         <div class="searchbox  pull-right">
                <div class="col-md-12">
                      <input type="text" ng-model="search" class="form-control search-query" placeholder="Search&hellip;" />
                </div>
            </div>
          <a ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'"  ng-click="residentModel('lg')" class="btn btn-default pull-right"> <span class="glyphicon glyphicon-plus-sign" ></span> Add New   </a>
          <div id="qrcode" style="width:5px; height:5px; margin-top:15px; display: none;"></div>
          <h2 ng-if="UserAcount.accesscontrol ==='barangayaccesscontrol'">{{UserAcount.barangay.barangay_name}} Barangay resident list</h2> 
          <h2 ng-if="UserAcount.accesscontrol ==='regionadmin'">Barangay resident list</h2> 
          <h2 ng-if="UserAcount.accesscontrol ==='municipalitycontrol'">Municipality of {{UserAcount.municipality.municipality_name}} resident's list</h2> 
          <p><span class="label label-success">Total of resident's: {{people}}</span> </p>
          <p ng-if="UserAcount.accesscontrol ==='barangayaccesscontrol'"  ng-show="people === 0 ">Opps! You dont have record created yet. Click add new to create one.</p>
          <p ng-if="UserAcount.accesscontrol ==='municipalitycontrol'"  ng-show="account_count === 0 ">Opps! You dont have barangay account created yet. <a ng-href="/user">click here to create one.<a></p>
          <p ng-if="UserAcount.accesscontrol ==='municipalitycontrol'" ng-show="people === 0 && account_count !== 0">Opps! No record created yet. Login your barangay account to add new records.</p>
        </div>
        <div class="panel-body">
            <br>
             <br>
             <!-- ng-click="show(resident._id)" -->
              <table ng-table="tableParams" template-pagination="custom/pager" class="table table-hover">
              <!-- ng-click="show(resident._id)" -->
                <tr ng-repeat="resident in $data | filter:search">
                    <td data-title="'#'">
                    {{$index + 1}}
                    </td>
                    <td data-title="'Name'" id="caseTYPE">
                        {{resident.prof_firstname}} {{resident.prof_middle_name}} {{resident.prof_lastname}}
                    </td>
                    <td data-title="'Region'">
                        {{resident.region.region_name | truncate}}
                    </td>
                    <td data-title="'Municipality'">
                        {{resident.municipality.municipality_name}}
                    </td>
                    <td data-title="'Barangay'">
                        {{resident.barangay.barangay_name}}
                    </td>
                    <td data-title="'Create By'">
                        {{resident.createdby}}
                    </td>
                   <!--  <td data-title="'Money'" sortable="'money'">
                        <span ng-class="{ 'plus': user.money >= 0,'minus': user.money < 0 }">{{user.money}}</span>
                    </td> -->
                    <td data-title="'Action'">
                      <div class="pull-right">
                      
                                <a ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" href="" ng-click="viewresidentModel('lg', resident._id)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-eye-open"></span> view clearance </a>
                                <a ng-hide="UserAcount.accesscontrol ==='barangayaccesscontrol'"href="" ng-click="view_guest('lg', resident._id)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-eye-open"></span> View Profile </a>
                                <a href="" ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" ng-click="resident_edit_Model('lg', resident._id)" class="btn btn-sm btn-success"> <span class="glyphicon glyphicon-edit"></span> Edit </a>

                                 <a href="" ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" ng-click="destroy('sm', resident._id, resident.prof_firstname, resident.prof_middle_name, resident.prof_lastname)" class="btn btn-sm btn-danger"> <span class="glyphicon glyphicon-trash"></span> Delete </a>
                          
                      </div>
                    </td>
                </tr>
            </table>

             <script type="text/ng-template" id="custom/pager">
                    <ul class="pager ng-cloak">
                      <li ng-repeat="page in pages"
                            ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                            ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                        <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                        <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                      </li>
                        <li> 
                        <div class="btn-group">
                            <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                            <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                            <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                            <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                            <button type="button" ng-class="{'active':params.count() == 200}" ng-click="params.count(200)" class="btn btn-default">200</button>
                        </div>
                        </li>
                    </ul>
                </script>
         </div>
      </div>
  </div>
