<div class="panel panel-default">
        <div class="panel-heading">
              <div ng-hide="UserAcount.accesscontrol === 'barangayaccesscontrol'" class="pull-right">
               <a href="" ng-click="ok()"><span class="glyphicon glyphicon-remove"></span></a>
              </div>
              <a ng-show="UserAcount.accesscontrol === 'barangayaccesscontrol'" id="renderpdf" class="btn btn-info pull-right" ng-click="create_clearance('lg')"> <span class="glyphicon glyphicon-plus-sign" > Create Baranggay Clearance </a>  
            <h2>
            
                 {{UserAcount.barangay.barangay_name}} Resident Information
                
            </h2>    

        </div>
        <div class="panel-body">
            <div class="row" id="table-icespdf">

                   <div class="col-lg-4">  
                  
                      <p>Profile ID: {{brgyresident._id}}</p>
                      <p>Name: {{brgyresident.prof_firstname}}, {{brgyresident.prof_lastname}} {{brgyresident.prof_middle_name}}</p>
                      <p>Gender: {{brgyresident.prof_gender}}</p>
                      <p>Civil Status: {{brgyresident.prof_status}}</p>
                      <p>Address:{{brgyresident.barangay.barangay_name}}, {{brgyresident.municipality.municipality_name}}, {{brgyresident.province.province_name}}</p>
                      <p ng-if="brgyresident.case_type" style="color: red;">CASE TYPE: {{brgyresident.case_type | uppercase}}</p>
                    
                    </div>
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-4">
                                
                                <div class="well pull-right" ng-show="brgyresident.imageuri">
                                <img id="imageme" ng-src="{{brgyresident.imageuri}}" height="200" width="200">
                                </div>
                                 <div class="well pull-right" ng-show="!brgyresident.imageuri">
                                <img ng-src="img/no-photo-icon.png" height="200" width="200">
                                </div>

                    </div>   
                     
            </div>
            <div class="row" >

                    <div class="panel panel-default" ng-show="UserAcount.accesscontrol === 'barangayaccesscontrol'">
                        <div class="panel-heading">
                             <div class="searchbox  pull-right">
                                <div class="col-md-12">
                            <input type="text" ng-model="search" class="form-control search-query" placeholder="Search&hellip;" />
                                </div>
                            </div>
                            <h2>{{brgyresident.prof_firstname}} {{brgyresident.prof_middle_name}} {{brgyresident.prof_lastname}} Barangay Clearance</h2>
                         <p><span class="label label-success">Total : {{no_clearance}}</span> </p>
                         
                        </div>
                        <div class="panel-body">
                              <br>

                            <table ng-table="tableParams" template-pagination="custom/pager" class="table table-hover">
                                  <tr ng-repeat="clearance in $data | filter:search | orderBy:'prof_firstname'">
                                      <td data-title="'#'">
                                      {{$index + 1}}
                                          <!-- {{clearance.resident._id}} {{brgyresident._id}}  -->
                                      </td>                                
                                      <td data-title="'Name'">
                                         {{clearance.resident.prof_lastname}}, {{clearance.resident.prof_firstname}}
                                      </td>
                                      <td data-title="'Region'">
                                          {{clearance.resident.region.region_name}}
                                      </td>
                                      <td data-title="'Municipality'">
                                          {{clearance.resident.municipality.municipality_name}}
                                      </td>
                                      <td data-title="'Barangay'">
                                          {{clearance.resident.barangay.barangay_name}}
                                      </td>
                                      <td data-title="'Action'">
                                        <div class="pull-right">
                                        <!-- /viewclearance/{{clearance._id}} -->
                                          <a href="" ng-click="download_pdf(clearance._id)" class="btn btn-sm btn-info"><span class="glyphicon glyphicon-file"></span> Download the PDF </a>
                                         
                                          <a href="" ng-click="edit_clearance('lg', clearance._id)" class="btn btn-sm  btn-success" ><span class="glyphicon glyphicon-edit" ></span> Edit </a>
                                     
                                        </div>
                                      </td>
                                  </tr>
                              </table>
                    </div>
           
          </div>
      </div>
      <div class="panel-footer">
          <a href="" ng-click="ok()" class="btn btn-warning"><span class="glyphicon glyphicon-arrow-left"> Close </a>
      </div>
  </div>
 <script type="text/ng-template" id="custom/pager">
        <ul class="pager ng-cloak">
          <li ng-repeat="page in pages"
                ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
            <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
            <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
          </li>
            <li> 
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
            </li>
        </ul>
    </script>
