<div class="panel panel-default">
        <div class="panel-heading">
            <div class="well pull-right" ng-if="brgyresident.imageuri">
            <img id="image" ng-src="{{brgyresident.imageuri}}" height="50" width="50">
            </div>
             <div class="well pull-right" ng-if="!brgyresident.imageuri">
            <img ng-src="img/no-photo-icon.png" height="50" width="50">
            </div>
            <h2>
                 <qrcode version="{{v}}" size="{{zv}}" data="{{url_value}}"></qrcode> Resident Information
            </h2>      
        </div>
        <div class="panel-body">
        <br>
        <br>
            <div class="row" id="table-icespdf">
                   <div class="col-lg-6">  
                            
                                <div class="well">
                                <label>ID Number:</label>
                                <p id="id_num">
                                    {{brgyresident._id}}
                                </p>
                                </div>

                                <div class="well" >
                                <label>Name:</label>
                                <p id="fullname">
                                     {{brgyresident.prof_firstname}}, {{brgyresident.prof_lastname}} {{brgyresident.prof_middle_name}}
                                </p>
                             
                                </div>

                                <div class="well">
                                <label>Province:</label>
                                <p id="province">
                                    {{brgyresident.province.province_name}}
                                </p>
                                </div>

                    </div>

                     <div class="col-lg-6">
                                

                                <div class="well">
                                <label>Region:</label>
                                <p id="setio">
                                    {{brgyresident.region.region_name}}
                                </p>
                                </div>

                                <div class="well">
                                <label>Municipality:</label>
                                <p id="barangay">
                                    {{brgyresident.municipality.municipality_name}}
                                </p>
                                </div>


                                <div class="well">
                                <label>Barangay:</label>
                                <p id="municipality">
                                    {{brgyresident.barangay.barangay_name}}
                                </p>
                                </div>
                       
                    </div>   
                     
            </div>
        
        </div>

        <div class="panel-footer">
             <a href="" ng-click="ok()" class="btn btn-warning"><span class="glyphicon glyphicon-arrow-left"> Back </a>
              
                   <!-- <a ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" href="/resident/{{brgyresident._id}}" class="btn btn-success">Edit</a> -->
                   <!-- <button ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" ng-click="destroy()"
                          ng-show="brgyresident._id" class="btn btn-danger">Delete</button> -->
                  <a ng-show="UserAcount.accesscontrol ==='barangayaccesscontrol'" id="renderpdf" class="btn btn-info download-pdf pull-right" onclick="getInfo()">Download PDF</a>
          
        </div>
        
    </div>
 <script type="text/javascript">

        
    
     
       function getInfo(){

        // var images = document.getElementById("image").src;
        // console.log(images);
        var doc = new jsPDF();
 
        var icesdata1 = document.getElementById("id_num").innerHTML;
        var icesdata5 = document.getElementById("province").innerHTML;
        var icesdata8 = document.getElementById("barangay").innerHTML;
        var icesdata9 = document.getElementById("municipality").innerHTML;

           doc.setFontSize(12);
           doc.text(20, 10, 'Hello everybody');  
           doc.text(20, 20, 'My name is');  
           doc.text(20, 40, 'Contact me at');  
           doc.text(20, 30, 'I have just created a simple pdf using jspdf');  
           doc.setFont("times");  
           doc.setFontType("italic");  
           doc.text(20, 36, document.getElementById("fullname").innerHTML); //append email id in pdf  
           doc.setFontType("bold");  
           doc.setTextColor(255, 0, 0); //set font color to red  
           doc.text(20, 15, document.getElementById("municipality").innerHTML); //append first name in pdf  
           doc.text(90, 15, document.getElementById("barangay").innerHTML); //append last name in pdf  

           // doc.addImage(images, 'jpeg', 15, 40, 180, 180);
         
       


           doc.addPage(); // add new page in pdf  
           doc.setTextColor(165, 0, 0);  
           doc.text(10, 20, 'extra page to write');  
           //doc.save('katara.pdf'); // Save the PDF with name "katara"...  

        doc.setFontSize(20);
        doc.text(50, 15, "BARANGAY RESIDENT'S PDF FILE");

        // doc.setFontSize(20);
        // doc.text(35, 35, "This is the PDF Files of" + icesdata1);

        // doc.setFontSize(12);
        // doc.text(35, 35, "Province Of: " + icesdata5);

        // doc.setFontSize(9);
        // doc.text(35, 11, "Address : " + icesdata4);

        // doc.setFontSize(9);
        // doc.text(35, 60, "Status: " + icesdata6);

        var specialElementHandlers = {
        '#editor': function(element, renderer){
            return true;
                }
            };

            doc.fromHTML($('#table-icespdf').get(0), 15, 15, {
                    'width': 170, 
                    'elementHandlers': specialElementHandlers
                });

            $('.download-pdf').click(function(){
                
               doc.save(icesdata1+'copy.pdf');
            });


       };


        $('.download-pdf').click(function(){
            
           console.log("Downloading your pdf files...");

           // doc.save('demo.pdf');
        });

       </script>