<!DOCTYPE html>
<html ng-app="brgyapp">
<head>
	<title ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'">Barangay of {{UserAcount.barangay.barangay_name}}</title>
  <title ng-if="UserAcount.accesscontrol === 'regionadmin'">{{UserAcount.access}} Account</title>
  <title ng-if="UserAcount.accesscontrol === 'municipalitycontrol'">Municipality of {{UserAcount.municipality.municipality_name}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
	<base href="/">
  <link href="cycle.png" rel="icon">
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="vendor/js/JsBarcode.all.min.js"></script>
  <script type="text/javascript" src="bower_components/qr/qrcode.js"></script>
  <script type="text/javascript" src="bower_components/qr/date.js"></script>
 <!--  // <script type="text/javascript" src="bower_components/chosen/vendor/chosen.jquery.js"></script> -->
  <script type="text/javascript" src="bower_components/js/angular-file-upload-shim.js"></script>
  <script type="text/javascript" src="bower_components/webcam/webcam.js"></script>
  <script src='bower_components/jspdf/libs/png_support/zlib.js' type='text/javascript'></script>
  <script src='bower_components/jspdf/libs/png_support/png.js' type='text/javascript'></script>
  <script src='bower_components/jspdf/libs/deflate.js' type='text/javascript'></script>
  <script type="text/javascript" src="bower_components/jspdf/jspdf.all.min.js"></script> 
  <script type="text/javascript" src="bower_components/jspdf/jspdf.plugin.addimage.js"></script> 
  <script type="text/javascript" src="bower_components/jspdf/jspdf.plugin.png_support.js"></script> 
  <script type="text/javascript" src="bower_components/qr-js/qr.js"></script> 

  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/simplex.min.css">
 <!--  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/2.0.1/ng-tags-input.min.css" /> -->
  <link ng-show="!UserAcount.accesscontrol" rel="stylesheet" type="text/css" href="bower_components/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
	<link ng-if="UserAcount.accesscontrol === 'municipalitycontrol'" rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/{{UserAcount.themes}}.min.css">
  <link ng-if="UserAcount.accesscontrol === 'regionadmin'" rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/{{UserAcount.themes}}.min.css">
  <link ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'" rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/{{UserAcount.themes}}.min.css">
<!--   <link rel="stylesheet" type="text/css" href="bower_components/chosen/vendor/chosen.css" />
  <link rel="stylesheet" type="text/css" href="bower_components/chosen/chosen-spinner.css" /> -->
  <link rel="stylesheet" type="text/css" href="vendor/css/image.css" />
  <link rel="stylesheet" type="text/css" href="vendor/css/style.css" />
  <link rel="stylesheet" type="text/css" href="vendor/js/ng-tags-input.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="bower_components/jquery-timepicker-jt/jquery.timepicker.css" />
<!--   <link rel="stylesheet" type="text/css" href="vendor/css/normalize.css" /> -->
  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-qrcode/qrcode.js"></script>
  <script type="text/javascript" src="bower_components/angular-qrcode/bower_components/qrcode-generator/js/qrcode.js"></script>
  <script type="text/javascript" src="bower_components/angular-qrcode/bower_components/qrcode-generator/js/qrcode_UTF8.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="bower_components/ui-select/dist/select.min.js"></script>
  <link rel="stylesheet" type="text/css" href="bower_components/ui-select/dist/select.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/select2-3.4.5/select2.css">
  <script src="vendor/js/ng-tags-input.min.js"></script>
 <script src="vendor/js/jquery.popupoverlay.js"></script>

  <script type="text/javascript" src="directives/cropdirective.js"></script>

</head>
<body>

    <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
                 <div class="navbar-header">
                  <a class="navbar-brand"><img ng-src="favicon.png" width="140" height="30"></a>
                  </div>
            </div>
            <!-- Collection of nav links and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse" ng-controller="navbarCtrl">
                <ul class="nav navbar-nav">
                    <li><a ng-hide="!UserAcount || errornotoken" href="/">Home <span class="glyphicon glyphicon-home"></span> </a></li>
                    <!-- <li><a ng-hide="!UserAcount" href="/clearance"> Clearance <span class="glyphicon glyphicon-th-list"> </a></li> -->
                    <li><a ng-hide="!UserAcount || errornotoken" href="/judicial"> Judicial <span class="glyphicon glyphicon-th-list"> </span></a></li>
                    <li><a ng-hide="!UserAcount || errornotoken" href="/resident"> Resident <span class="glyphicon glyphicon-th-list"> </span></a></li>

               
                </ul>

                <form class="navbar-form navbar-left">
                
                    <input type="text" class="form-control" ng-model="qrvalue" placeholder="Enter the QR value here">
                    
                  </form>

                  <!-- ng-show-auth="login" -->
                  <ul class="nav navbar-nav navbar-right"  >  
                      <li ng-if="UserAcount.imageuri">
                        <img ng-src="{{UserAcount.imageuri}}" id="navsize" class="img-circle">
                      </li>
                    <li ng-if="UserAcount.accesscontrol === 'municipalitycontrol'" class="navbar-text"><span class="label label-danger">Total of barangay: {{count_brgy}}</span></li>
                    <li ng-show="error" class="navbar-text" style="color: white;">{{error}}</li>
                    <li ng-hide="!UserAcount || errornotoken" class="navbar-text"><span ng-if="!UserAcount.imageuri"class="glyphicon glyphicon-user"> {{UserAcount.username}} </li> 
                
                    <li ng-hide="!UserAcount || errornotoken" class="dropdown">
                      <a class="dropdown-toggle js-activated" href="#"> settings <span class="glyphicon glyphicon-cog"></span></a>
                      <ul class="dropdown-menu">
                      <!-- myaccount/{{UserAcount._id}} -->
                        <li ng-if="UserAcount.accesscontrol === 'municipalitycontrol'"><a href="" ng-click="account_modal('lg', UserAcount._id)">My Account</a></li>
                        <!-- regionadmin/{{UserAcount._id}} -->
                         <li ng-if="UserAcount.accesscontrol === 'regionadmin'"><a href="" ng-click="account_modal('lg', UserAcount._id)">My Account</a></li>
                         <!-- useraccount/{{UserAcount._id}} -->
                        <li ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'"><a href="" ng-click="account_modal('lg', UserAcount._id)">My Account</a></li>
                        <li ng-if="UserAcount.role === 'admin'" ><a href="/user">Manage Account</a></li>
                        <li ng-if="UserAcount.access === 'administrator'" ><a href="/region">Manage Region</a></li>
                        </li>
                        <li class="divider"></li>
                        <li ng-include src="'logout.html'"></li>
                        
                      </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
   <br>
   <br>
   <br>
   <div class="container">

       <div ng-view="">
    
       </div>

   </div>
  
   <script type="text/javascript" src="bower_components/ng-table/ng-table.js"></script>
   <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
   <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.min.js"></script>
   <script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
   <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
   <script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
   <script type="text/javascript" src="bower_components/checklist-model/checklist-model.js"></script>
   <script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
   <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="bootstrap-hover-dropdown.js"></script>
   <script type="text/javascript" src="bower_components/angular-mocks/angular-mocks.js"></script>
   <script type="text/javascript" src="bower_components/jquery-timepicker-jt/jquery.timepicker.js"></script>
   <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
   <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  
   <script type="text/javascript" src="bower_components/ngupload/ng-upload.min.js"></script> 
   <script type="text/javascript" src="bower_components/js/angular-file-upload.min.js"></script>


   <script type="text/javascript" src="vendor/underscore.js"></script>
   <script type="text/javascript" src="vendor/restangular.js"></script>

   <script type="text/javascript" src="script/app.js"></script>
   <script type="text/javascript" src="factory/userfactory.js"></script>
   <script type="text/javascript" src="factory/taxFactory.js"></script>
   <script type="text/javascript" src="factory/currentUser.js"></script>
   <script type="text/javascript" src="factory/contactFactory.js"></script>
   <script type="text/javascript" src="controller/regionsCtrl.js"></script>
   <script type="text/javascript" src="controller/provinceCtrl.js"></script>
   <script type="text/javascript" src="controller/navbarCtrl.js"></script>
   <script type="text/javascript" src="controller/clearanceCtrl.js"></script>
   <script type="text/javascript" src="controller/loginCtrl.js"></script>
   <script type="text/javascript" src="controller/taxCtrl.js"></script>
   <script type="text/javascript" src="controller/contactCtrl.js"></script>
   <script type="text/javascript" src="controller/registerCtrl.js"></script>
   <script type="text/javascript" src="controller/judicialCtrl.js"></script>
   <script type="text/javascript" src="controller/residentCtrl.js"></script>
   <script type="text/javascript" src="directives/directives.js"></script>
   <script type="text/javascript" src="directives/timepickerdirectives.js"></script>
   <script type="text/javascript" src="filters/filters.js"></script>
   <script type="text/javascript" src="vendor/timepickerdirective.js"></script>


    <script>
    // very simple to use!
    $(document).ready(function() {
      $('.js-activated').dropdownHover().dropdown();
    });
  </script>

</body>
</html>
