<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                        <div class="col-xs-4">
                            <h3>Clearance</h3>
                            <p>Provide content here</p>
                            <span class="animate-if">
                              <a href="/clearancelist" class="btn btn-info">Clearance &raquo;</a>
                            </span>
                        <!--      <span ng-if="!currentUser"class="animate-if">
                              <a href="#/login" class="btn btn-info">Clearance &raquo;</a>
                            </span> -->
                     
                        </div>
                        <div class="col-xs-4">
                            <h3>Judicial</h3>
                            <p>Provide content here</p>
                            <span class="animate-if">
                              <a href="/judicialist" class="btn btn-info">Judicial &raquo;</a>
                            </span>
                       <!--      <span ng-if="!currentUser" class="animate-if">
                              <a href="#/login" class="btn btn-info">Judicial &raquo;</a>
                            </span> -->
                       
                        </div>
                        <div class="col-xs-4">
                            <h3>Resident</h3>
                            <p>Provide content here</p>
                            <span class="animate-if">
                            <a href="/residentlist" class="btn btn-info">Resident &raquo;</a>
                            </span>
                   <!--          <span ng-if="!currentUser" class="animate-if">
                            <a href="#/login" class="btn btn-info">Resident &raquo;</a>
                            </span> -->
                        
                        </div>
                </div>
            </div>
        </div>
    </div>
