<div class="container">
    <div class="panel panel-default">
            <div class="panel-heading">
             <div class="searchbox  pull-right">
                <div class="col-md-12">
            <input type="text" ng-model="search" class="form-control search-query" placeholder="Search&hellip;" />
                </div>
            </div>
                <a href="/region"><span class="glyphicon glyphicon-arrow-left"></span></a>
                <!-- /addbrgydata/{{municipalId}}  -->
                <a ng-href="" ng-click="brgy_modal('lg', municipalId)" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Add New Barangay</a>
         
         <h2>List Of Barangay Of {{municipalityname}} Municipal</h2>
         <p>{{municipalityname}} | {{province}}, {{region}}</p>
        </div>
        <div class="panel-body">
              <br>
  
                <table ng-table="tableParams" template-pagination="custom/pager" class="table table-hover">
                      <!-- ng-click="show(brgy._id)" -->
                      <tr ng-repeat="brgy in $data | filter:search | orderBy:'barangay_name'">
                          <td data-title="'Barangay'">
                              {{brgy.barangay_name}} 
                          </td>
                         
                          <td data-title="'Action'">
                            <div class="pull-right">
                            <!-- <a href="/brgy/viewbarangay/{{brgy._id}}" class="btn btn-success"><span class="glyphicon glyphicon-eye-open"></span> View </a> -->
                            <!-- /brgy/{{brgy._id}} -->
                             <a href="" ng-click="brgy_edit('lg', brgy._id)" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> edit </a>
                            </div>
                          </td>
                      </tr>
                  </table>
               <script type="text/ng-template" id="custom/pager">
                        <ul class="pager ng-cloak">
                          <li ng-repeat="page in pages"
                                ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
                                ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
                            <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Previous</a>
                            <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Next &raquo;</a>
                          </li>
                            <li> 
                            <div class="btn-group">
                                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
                            </div>
                            </li>
                        </ul>
                    </script>
        </div>
    </div>
</div>