<form name="userForm" class="form-inline">
<div class="panel panel-default">
        <div class="panel-heading">
              <div class="pull-right">
                <a href="" ng-click="ok()"><span class="glyphicon glyphicon-remove"></span></a>
              </div>
            <h2> Municipality Form </h2>
        </div>
        <div class="panel-body">
            <div class="well">
                <div class="row">
                    <div class="col-lg-4">
                        
                        <div class="form-group" ng-class="{error: municipality.municipality_name.$invalid && !municipality.municipality_name.$pristine}">
                            <div class="col-xs-7">
                                <label for="municipality_name">Municipality Name</label>
                                    <input id="municipality_name" class="form-control" name="municipality_name" ng-model="municipality.municipality_name" type="text" required="" />
                            </div>
                            <div class="col-xs-7">
                                <label for="zip_code">Zip Code</label>
                                    <input id="zip_code" class="form-control" name="zip_code" ng-model="municipality.zip_code" type="text" required="" />
                            </div>
                        </div><br /><br />
          
                   </div>
                    <div class="control-group">
                        <label for="tnc">Term &amp; Condition</label><br>
                        <label class="checkbox inline" for="tnc">
                            <input name="tnc" class="form-control" id="tnc" type="checkbox" ng-model="municipality.tnc" required />Accept
                        </label>
                    </div>

             </div>
          </div>
        </div>      
        <div class="panel-footer">
                <a href="" ng-click="ok()" class="btn btn-warning"> Cancel </a>
                <button ng-if="!municipality._id" ng-click="savemunicipality()" ng-disabled="!municipality.tnc || myForm.$invalid"
                        class="btn btn-primary"> Save </button>
                <button ng-if="municipality._id" ng-click="update_municipal(municipality._id)" ng-disabled="!municipality.tnc || myForm.$invalid"
                        class="btn btn-primary"> Update </button>
                <!-- <button ng-click="destroy()"
                        ng-show="municipality._id" class="btn btn-danger"> Delete </button> -->
      </div> 
</div> 
</form>         