<form name="userForm" class="form-inline">
<div class="panel panel-default">
        <div class="panel-heading">
             <div class="pull-right">
                     <a href="" ng-click="ok()"><span class="glyphicon glyphicon-remove"></span></a>
              </div>
            <h2>{{regionHeading}}</h2>
        </div>
        <div class="panel-body">
                    <div class="well">
                        <div class="row">
                            <div class="col-lg-4">
                                
                                <div class="form-group" ng-class="{error: province.province_name.$invalid && !province.province_name.$pristine}">
                                    <div class="col-xs-7">
                                        <label for="province_name">Name Of Province</label>
                                            <input id="province_name" class="form-control" name="province_name" ng-model="province.province_name" type="text" required="" />
                                    </div>
                                </div><br /><br />
                  
                           </div>
                            <div class="control-group">
                                <label for="tnc">Term &amp; Condition</label><br>
                                <label class="checkbox inline" for="tnc">
                                    <input name="tnc" class="form-control" id="tnc" type="checkbox" ng-model="province.tnc" required />Accept
                                </label>
                            </div>
                   
            
                        <br>
                       
                  <div>
            </div>
        
        </div>

       </div>      
    </div> 

    <div class="panel-footer">
        <a href="" ng-click="ok()" class="btn btn-warning">Cancel</a>
        <button ng-if="!province._id" ng-click="saveprovince(province)" ng-disabled="!province.tnc || myForm.$invalid" class="btn btn-primary">Save</button>
        <button ng-if="province._id" ng-click="Update(province._id)" ng-disabled="!province.tnc || myForm.$invalid" class="btn btn-primary"> Update </button>
        <!-- <button ng-click="destroy()"ng-show="province._id" class="btn btn-danger">Delete</button> -->           
  </div> 
</div>  
</form>        