<div class="panel panel-default">
 <form name="userForm" class="form-inline">
        <div class="panel-heading">
              <div class="pull-right">
               <a href="" ng-click="ok()"><span class="glyphicon glyphicon-remove"></span></a>
              </div>
                  <h2>{{ regionHeading }}</h2>
        </div>
        <div class="panel-body">

                  
                    <div class="well">
                        <div class="row">
                            <div class="col-lg-4">
                                
                                <div class="form-group" ng-class="{error: region.region_name.$invalid && !region.region_name.$pristine}">
                                    <div class="col-xs-7">
                                        <label for="region_name">Name Of the Region</label>
                                            <input id="region_name" class="form-control" name="region_name" ng-model="region.region_name" type="text" required="" />
                                    </div>
                                </div><br /><br />
                  
                           </div>
                            <div class="control-group">
                                <label for="tnc">Term &amp; Condition</label><br>
                                <label class="checkbox inline" for="tnc">
                                    <input name="tnc" class="form-control" id="tnc" type="checkbox" ng-model="region.tnc" required />Accept
                                </label>
                            </div>
                   
            
                        <br>
                       
                  <div>
            </div>
        
        </div>

       </div>      
     </div> 
     <div class="panel-footer">
                   <a href="" ng-click="cancel()"class="btn btn-warning"> Cancel </a>
                        <button ng-hide="region._id"ng-click="save()" ng-disabled="!region.tnc || myForm.$invalid"
                                class="btn btn-primary"> Save </button>
                        <button ng-if="region._id" ng-click="update()" ng-disabled="!region.tnc || myForm.$invalid"
                                class="btn btn-primary"> Update </button>
                        <button ng-click="destroy()"
                                ng-show="region._id" class="btn btn-danger"> Delete </button>
                      
      </div> 
   </form>
  </div>         